<%= render "layouts/errors", :object => @work %>

<div class="edit-form">
<%= form_for @work do |f| %>
  <%= f.text_field :name, :class => 'form-control', :placeholder => "name" %>
  <%= f.text_area :description, :class => 'form-control', :placeholder => "description"%>
  <%= f.text_field :artist, :class => 'form-control', :placeholder => "artist"%>
  <%= f.text_field :author, :class => 'form-control', :placeholder => "author"%>
  <%= f.text_field :subgenre, :class => 'form-control', :placeholder => "subgenre" %>
  <%= f.text_field :image, :class => 'form-control', :placeholder => "image url" %>
  <%= f.submit 'Save', :class => "btn btn-primary"%>
<% end %>
</div>
