<h1>Comics</h1>

<%= form_tag(work_search_path(@works[0]), :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<%= link_to "Sort AtoZ", work_sort_path(@works[0]) %>

<div class="row">
  <div class="dark center">
  <h3 class="white">Featured</h3>
  <div class="well2">
  <%= link_to image_tag(@works[rand(0..@works.length - 1)].image)%>
  </div>
</div>
</div>



<div class="row"> <!-- featured -->
  <% @works.each do |work| %>
    <div class="col-md-6"><!-- main -->
      <div class="box well">
      <%= link_to image_tag(work.image), work_path(work) %>
       <h3><%= link_to work.name, work_path(work) %></h3>
      <small>Uploaded: <%= work.created_at.to_date %></small>
    </div>
  </div>
  <% end %>

  </div>
