<h1 class="center"><%= image_tag "tag.png", :class => "header-brand"%>Comic Emporium</h1>

<div class="row">
  <div class="dark center">
  <h3 class="white">Featured</h3>
  <div class="well2">
  <%= link_to image_tag(@works[rand(0..@works.length - 1)].image)%>
  </div>
</div>
</div>

<br>
<h4>Sort By: <%= link_to "A-Z", works_sort_path %> | </h4>
<div class="row"> <!-- featured -->
  <% @works.each do |work| %>
    <div class="col-md-4 center"><!-- main -->
      <div class="box well">
      <%= link_to image_tag(work.image), work_path(work) %>
       <h3><%= link_to work.name, work_path(work) %></h3>
      <small>Uploaded: <%= work.created_at.to_date %></small>
    </div>
  </div>
  <% end %>

  </div>
