<%= render "layouts/errors", :object => @review %>

<div class="edit-form">
<%= form_for [@work, @review] do |f| %>
  <%= f.text_field :name, :class => 'form-control', :placeholder => "name" %>
  <%= f.text_field :details , :class => 'form-control', :placeholder => "details"%>
  <%= f.text_field :rating , :class => 'form-control', :placeholder => "rating 1-10"%>
  <%= f.submit 'Save', :class => "btn btn-primary"%>
<% end %>
</div>
